In [26]:
# Imports
import pandas as pd
import sqlite3
from datetime import datetime
from sqlalchemy import create_engine, text

import bcrypt

In [ ]:
class User:
    def __init__(self, user_id: int, username: str, email: str):
        self.user_id = user_id
        self.username = username
        self.email = email
        self.settings =  self.init_setting_map() # Dict for settings
        self.permissions = set()  # Set of granted permissions

    def init_setting_map(self):
        dict = {}
        dict["light_mode"] = True
        dict["user_active"] = True
        # TO DO: add more settings
        return dict

    def update_setting(self, key: str, value):
        self.settings[key] = value

    def get_setting(self, key: str):
        return self.settings.get(key, None)

    def add_permission(self, permission: str):
        self.permissions.add(permission)

    def remove_permission(self, permission: str):
        self.permissions.discard(permission)

    def check_permission(self, permission: str) -> bool:
        return permission in self.permissions

    def __repr__(self):
        return (f"User(id={self.user_id}, username='{self.username}')")

In [28]:
# Create a sqlalchemy engine to input database
def get_engine(dbname, host='localhost', port=5432, user='nihar'):
    connection_string = f'postgresql://{user}@{host}:{port}/{dbname}'
    engine = create_engine(connection_string)
    return engine

In [29]:
# The function that runs any query; returns results for SELECT queries and commits changes for non-SELECT queries
def execute_query(dbname, query):
    # Establish the connection
    engine = get_engine(dbname)
    
    # Create transaction
    with engine.connect() as connection:
        transaction = connection.begin() 
        try:
            # If SELECT query, fetch and return the results
            if query.strip().lower().startswith('select'):
                result = connection.execute(text(query))
                return result.fetchall()
            
            # Execute non-SELECT queries
            else:
                connection.execute(text(query))
                # Commit the changes and return None
                transaction.commit()
                return None 
        except Exception as e: # Re-raise the exception
            transaction.rollback()  
            raise e

In [30]:
def get_hashed_password(password_text):
    # First time hashing password using bcrypt; the salt is saved into the hash itself; slow hash to prevent malicious brute force attacks
    password_bytes = password_text.encode('utf-8')
    return bcrypt.hashpw(password_bytes, bcrypt.gensalt(14))

def check_password(password_text, password_hash):
    # Check hashed password
    password_bytes = password_text.encode('utf-8')
    return bcrypt.checkpw(password_bytes, password_hash)

In [31]:
# Returns user database
def get_users():
    # Query to select all users
    query = "SELECT * FROM users;"
    df = pd.DataFrame(execute_query('users', query))
    return df

In [32]:
def get_id(username):
    # SQL query to get id of user
    query = f"SELECT id FROM users WHERE username = '{username}';"
    id = execute_query('users', query)
    if len(id) == 0: return None  # Username not found in database
    return id[0][0] # Extract data and return

In [33]:
def get_info(id, what):
    query = f"SELECT {what} FROM users WHERE id = '{id}';"
    id = execute_query('users', query)
    if len(id) == 0: return None  # Username not found in database
    return id[0][0] # Extract data and return

# Specific getters
def get_username(id):
    return get_info(id, what = 'username')


def get_email(username):
    return get_info(get_id(username), what = 'email')

In [34]:
# Functions to add and remove users

def add_user(username, email, password, hostname = 'localhost', port = 5432, postgre_user = 'nihar'):
    # SQL query to insert a new user
    password_hash = get_hashed_password(password).decode('utf-8')
    query = "INSERT INTO users (username, email, password_hash) VALUES ('%s', '%s', '%s');" % (username, email, password_hash)
    execute_query('users', query)

def remove_user(username, hostname = 'localhost', port = 5432, postgre_user = 'nihar'):
    # SQL query to delete a user based on the username
    id = get_id(username)
    if id == None: return
    query = f"DELETE FROM users WHERE id = '{id}';"
    execute_query('users', query)

In [35]:
# Function to validate password of an user 

def validate_password(username, pass_check, hostname = 'localhost', port = 5432, postgre_user = 'nihar'):
    # SQL query to delete a user based on the username
    id = get_id(username)
    if id == None: return
    query = f"SELECT password_hash FROM users WHERE id = '{id}';"
    password_hash = execute_query('users', query)[0][0]
    print(password_hash.tobytes())
    return check_password(pass_check, password_hash)

In [36]:
# Getters example

print(get_username(289772903861802))
print(get_email('jethalal'))

jethalal
sethji@shaadi.com

In [37]:
# Update observation helper function
def update_info(id, updated_info, category): 
    if id == None: return # If not a valid user, terminate
    query = f"UPDATE users SET {category} = '{updated_info}' WHERE id = {id};" # SQL query to update a user's info based on id
    execute_query('users', query)

# Update observation's data functions
def update_username(id, new_username):
    update_info(id, new_username, 'username')

def update_email(id, new_email):
    update_info(id, new_email, 'email')

def update_password(id, new_pass):
    new_hash = get_hashed_password(new_pass).decode('utf-8')
    update_info(id, new_hash, 'password_hash')

In [38]:
# Get ID example
print(get_id("jethalal"))

289772903861802

In [39]:
# Password hashing and checking example
password_hash = get_hashed_password("cheese")
print(password_hash)

print(check_password("cheese", password_hash))
print(check_password("burger", password_hash))

b'$2b$14$aKZKQXSlqeMxZJgn3/zS6.OPdKbLd6ivNLQXxykO9jlf5SdP907zm'
True
False

In [40]:
# Get DB example
get_users()

,id,username,email,password_hash
0,289772903861802,jethalal,sethji@shaadi.com,"[b'$', b'2', b'b', b'$', b'1', b'4', b'$', b'c..."

In [41]:
# Add user example
remove_user("chungus") # Ensure doesn't exist since we're asserting users are unique
add_user("chungus", "bingus@yahoo.co.in", "evillarry")
get_users()

,id,username,email,password_hash
0,289772903861802,jethalal,sethji@shaadi.com,"[b'$', b'2', b'b', b'$', b'1', b'4', b'$', b'c..."
1,5167122426168369,chungus,bingus@yahoo.co.in,"[b'$', b'2', b'b', b'$', b'1', b'4', b'$', b'r..."

In [42]:
# Remove user example
remove_user("chungus")
df = get_users()
df

,id,username,email,password_hash
0,289772903861802,jethalal,sethji@shaadi.com,"[b'$', b'2', b'b', b'$', b'1', b'4', b'$', b'c..."

In [43]:
# Update User data example
update_username(get_id("jethalal"), "tapu ke papa")
update_email(get_id("tapu ke papa"), "jijaji@sundar.con")
update_password(get_id("tapu ke papa"), "JalebiMaster")
df = get_users()

# Undo changes
update_username(get_id("tapu ke papa"), "jethalal")
update_email(get_id("jethalal"), "sethji@shaadi.com")
update_password(get_id("jethalal"), "natukaka123")

df

,id,username,email,password_hash
0,289772903861802,tapu ke papa,jijaji@sundar.con,"[b'$', b'2', b'b', b'$', b'1', b'4', b'$', b'u..."